.artifact-tab-content {
    padding: 22px;
}

.artifact-tab-content .artifact-basics {
    min-width: 450px;
    max-width: 500px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}

.artifact-tab-content .artifact-basics .title-and-type {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.artifact-tab-content .artifact-basics .title-and-type .type {
    padding-right: 8px;
}

.artifact-tab-content .artifact-basics .title-and-type .title {
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    display: inline-block;
}

.artifact-tab-content .artifact-basics .metaData {
    margin-bottom: 10px;
}

.artifact-tab-content .artifact-basics .actions {
}


.artifact-tab-content .artifact-rules {
    min-width: 450px;
    max-width: 800px;
    margin-left: 15px;
    margin-right: 15px;
}

.artifact-tab-content .artifact-rules .rules-label {
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 7px;
}
