.apicurio-registry-embedded-ui {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
  min-height: 500px;
}

.apicurio-registry-embedded-ui__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.apicurio-registry-detail-tabs {
  height: 100%;
}
