.version-selector-dropdown .pf-c-dropdown__menu {
    min-width: 300px;
    max-width: 425px;
}

.version-selector-dropdown.dropdown-align-right .pf-c-dropdown__menu {
    right: 0;
}

.version-selector-dropdown .version-filter {
    padding-left: 5px;
    padding-right: 5px;
}

.version-selector-dropdown .version-list, .version-selector-dropdown .version-header {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 1px;
    margin-right: 5px;
}
.version-selector-dropdown .version-list {
    max-height: 400px;
    overflow-y: scroll;
}

.version-selector-dropdown .version-list .version-item, .version-selector-dropdown .version-header .version-item {
    display: flex;
    flex-direction: row;
    padding: 3px;
    width: 100%;
    color: inherit;
}
.version-selector-dropdown .version-list .version-item:hover {
    background-color: #eee;
    cursor: pointer;
    text-decoration: none;
}

.version-selector-dropdown .version-list .version-item .name, .version-selector-dropdown .version-header .version-item .name {
    flex-grow: 1;
}
.version-selector-dropdown .version-list .version-item .date, .version-selector-dropdown .version-header .version-item .date {
    flex-grow: 1;
    text-align: right;
}

.version-selector-dropdown .version-header .version-item {
    border-bottom: 1px solid #ccc;
}
.version-selector-dropdown .version-header .version-item .name, .version-selector-dropdown .version-header .version-item .date {
    font-weight: bold;
    padding-right: 18px;
}