version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
    groups:
      maven-plugin-dependencies:
        patterns:
          - "org.apache.maven.plugins:*"
      confluent-dependencies:
        patterns:
          - "io.confluent:*"
      kiota-dependencies:
        patterns:
          - "com.microsoft.kiota:*"
      apicurio-common-dependencies:
        patterns:
          - "io.apicurio:apicurio-common*"
      test-dependencies:
        patterns:
          - "*test*"

  - package-ecosystem: nuget
    directory: "/python-sdk"
    schedule:
      interval: daily

  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
    groups:
      backport-dependencies:
        patterns:
          - "*"

  - package-ecosystem: npm
    directory: "/ui"
    schedule:
      interval: daily
    groups:
      ui-dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 10
    versioning-strategy: increase

  - package-ecosystem: npm
    directory: "/ui/ui-app"
    schedule:
      interval: daily
    groups:
      ui-app-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "eslint"
      eslint:
        patterns:
          - "eslint"
        update-types:
          - "patch"
          - "minor"
    open-pull-requests-limit: 10
    versioning-strategy: increase

  - package-ecosystem: npm
    directory: "/ui/ui-docs"
    schedule:
      interval: daily
    groups:
      ui-docs-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "eslint"
      eslint:
        patterns:
          - "eslint"
        update-types:
          - "patch"
          - "minor"
    open-pull-requests-limit: 10
    versioning-strategy: increase

  - package-ecosystem: npm
    directory: "/ui/tests"
    schedule:
      interval: daily
    groups:
      ui-test-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "eslint"
      eslint:
        patterns:
          - "eslint"
        update-types:
          - "patch"
          - "minor"
    open-pull-requests-limit: 10
    versioning-strategy: increase
