.references-toolbar {
    padding-left: 8px;
    padding-right: 24px;
}

.references-toolbar > div {
    width: 100%;
}

.references-toolbar .filter-types-toggle span.pf-v5-c-menu-toggle__text {
    width: 125px;
    text-align: left;
}

#references-toolbar-1 .tbi-filter-type {
    margin-right: 0;
}

.references-toolbar .view-mode-toggle-item {
    margin-left: 16px;
}

.references-toolbar .view-mode-toggle-item .pf-v5-c-toggle-group__button {
    padding-left: 12px;
    padding-right: 12px;
}
