target/
.project
.settings
.classpath
.DS_Store
.checkstyle

# VS Code
.vscode/
.factorypath

# IntelliJ / IDEA
.idea/
*.iml
*.ipr
*.iws

website

# Other
*~
.notes
**/bin

apicurio-codegen
/multitenancy/
/docs/.jbang/
