.artifacts-toolbar {
    padding-left: 8px;
    padding-right: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.artifacts-toolbar > div {
    width: 100%;
}

.artifacts-toolbar .filter-types-toggle span.pf-v5-c-menu-toggle__text {
    width: 125px;
    text-align: left;
}

#artifacts-toolbar-1 .tbi-filter-type {
    margin-right: 0;
}
