#generate-client-action {
}

#edit-version-button {
    margin-left: 10px;
}

#download-artifact-button {
    margin-left: 10px;
}

#delete-artifact-button {
    margin-left: 10px;
    margin-right: 10px;
}
