#version-compare-modal {
    position: fixed;
    bottom: 32px;
    top: 32px;
}

#version-compare-modal .compare-modal-content {
    position: absolute;
    top: 64px;
    bottom: 24px;
    left: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
}

#version-compare-modal .compare-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 16px;
}

#version-compare-modal .compare-loading span {
    color: #6a6e73;
    font-size: 14px;
}
