
.group-overview-tab-content {
    padding: 22px;
    background-color: rgb(240,240,240);
}

.group-overview-tab-content .group-basics {
}

.group-overview-tab-content .group-artifacts {
}

.group-overview-tab-content .title-and-type {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.group-overview-tab-content .title-and-type .type {
}

.group-overview-tab-content .title-and-type .title {
    color: #333;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
}

.group-overview-tab-content .group-basics .metaData {
    padding: 20px;
    margin-bottom: 20px;
}

.group-overview-tab-content .group-basics .actions {
}

.group-overview-tab-content .group-artifacts .artifact-list {
    padding: 20px;
}

.group-overview-tab-content .btn-header-create-artifact {
    margin-top: -6px;
    margin-bottom: -6px;
}
