// ref-all-registry-configs
:_mod-docs-content-type: REFERENCE
[id="all-registry-configs_{context}"]
= {registry} configuration options

[role="_abstract"]
The following {registry} configuration options are available for each component category:

