site:
  title: Apicurio Registry PREVIEW
  # the 404 page and sitemap files only get generated when the url property is set
  url: https://www.apicur.io/registry/docs
  start_page: apicurio-registry::index.adoc
content:
  sources:
  - url: ../
    branches: HEAD
    start_path: docs

ui:
  bundle:
    url: https://raw.githubusercontent.com/Apicurio/apicurio-docs-ui/main/dist/ui-bundle.zip
    snapshot: true

runtime:
  cache_dir: ./target/antora-cache

output:
  dir: ./target/dist

asciidoc:
  attributes:
    plantuml-server-url: 'http://www.plantuml.com/plantuml'
    plantuml-fetch-diagram: true
    mod-loc: partial$
    registry-overview: link:assembly-intro-to-the-registry.html[Introduction to Apicurio Registry]
    registry-rules: link:assembly-intro-to-registry-rules.html[Introduction to Apicurio Registry rules]
    registry-reference: link:assembly-registry-reference.html[Apicurio Registry artifact reference]
    installing-the-registry-docker: link:assembly-installing-registry-docker.html[Installing Apicurio Registry using Docker]
    installing-the-registry-openshift: link:assembly-installing-registry-openshift.html[Installing Apicurio Registry on OpenShift]
    installing-the-registry-storage-openshift: link:assembly-installing-registry-storage-openshift.html[Installing Apicurio Registry storage on OpenShift]
    managing-registry-artifacts-ui: link:assembly-managing-registry-artifacts-ui.html[Managing Apicurio Registry content using the web console]
    managing-registry-artifacts-api: link:assembly-managing-registry-artifacts-api.html[Managing Apicurio Registry content using the REST API]
    kafka-client-serdes: link:assembly-using-kafka-client-serdes.html[Validating schemas using Kafka client serializers/deserializers in Java]
    rest-client:  link:assembly-using-the-registry-client.html[Managing Apicurio Registry content using a Java client]
