name: Integration Tests Workflow
on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README*'
      - 'docs/**'
      - '.github/workflows/**'
    branches: [main, '[1-9].[1-9].x']
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README*'
      - 'docs/**'
    branches: [main, '[1-9].[0-9].x']

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare-integration-tests:
    name: Prepare for Integration Tests
    runs-on: ubuntu-20.04
    if: github.repository_owner == 'Apicurio' && !contains(github.event.*.labels.*.name, 'DO NOT MERGE')
    steps:
      - name: Show Actor
        run: echo ${{github.actor}}
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Workaround jackson-coreutils
        run: |
          # upstream issue: https://github.com/java-json-tools/jackson-coreutils/issues/59
          rm -rf ~/.m2/repository/com/github/java-json-tools
          mkdir -p /tmp/coreutils-workaround
          ( cd /tmp/coreutils-workaround && mvn dependency:get -DremoteRepositories=https://repo1.maven.org/maven2 -Dartifact=com.github.java-json-tools:jackson-coreutils:2.0 )

      - name: Get maven wrapper
        run: mvn -N io.takari:maven:wrapper -Dmaven=3.8.2

      - name: Build integration-tests-common
        run: ./mvnw install -Pintegration-tests -pl integration-tests/integration-tests-common -am

      - name: Store Apicurio artifacts
        id: store-apicurio
        uses: actions/upload-artifact@v3
        with:
          name: apicurio-artifacts.zip
          retention-days: 1
          path: |
            ~/.m2/repository/io/apicurio
            !~/.m2/repository/io/apicurio/**/*.tar.gz

  integration-tests-sql:
    name: Integration Tests SQL
    runs-on: ubuntu-20.04
    needs: prepare-integration-tests
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Download built apicurio artifacts
        id: download-apicurio
        uses: actions/download-artifact@v3
        with:
          path: ~/.m2/repository/io/apicurio
          name: apicurio-artifacts.zip

      - name: Prepare Tenant Manager
        run: make build-integration-tests-multitenancy

      - name: Build Sql Variant
        run: make SKIP_TESTS=true BUILD_FLAGS='-DskipUiBuild=true -Dmaven.javadoc.skip=true --no-transfer-progress -Dmaven.wagon.httpconnectionManager.maxTotal=30 -Dmaven.wagon.http.retryHandler.count=5' build-sql

      - name: Run Integration Tests - sql
        run: ./mvnw verify -Pintegration-tests -Pci -Psql -Psqlit -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false
      - name: Run Integration Tests - sql clustered
        run: ./mvnw verify -Pintegration-tests -Pclustered -Psql -Psqlit -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false
      - name: Run Integration Tests - sql migration
        run: ./mvnw verify -Pintegration-tests -Pmigration -Psql -Psqlit -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false
      - name: Run Integration Tests - sql auth
        run: ./mvnw verify -Pintegration-tests -Pauth -Psql -Psqlit -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false
      - name: Run Integration Tests - multitenancy
        run: ./mvnw verify -Pintegration-tests -Pmultitenancy -Psql -Psqlit -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false
      - name: Run Integration Tests - sql dbupgrade
        run: ./mvnw verify -Pintegration-tests -Pdbupgrade -Psql -Psqlit -pl integration-tests/testsuite -DtrimStackTrace=false -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false

      - name: Run Legacy Tests - sql
        env:
          TEST_APP_ENV_ENABLE_CCOMPAT_LEGACY_ID_MODE: "true"
        run: ./mvnw verify -Pintegration-tests -Pci -Psql -Psqlit -pl integration-tests/legacy-tests -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false

      - name: Collect logs
        if: failure()
        run: ./.github/scripts/collect_logs.sh
      - name: Upload tests logs artifacts
        if: failure()
        uses: actions/upload-artifact@v1.0.0
        with:
          name: tests-logs
          path: artifacts

  integration-tests-kafkasql:
    name: Integration Tests KafkaSql
    runs-on: ubuntu-20.04
    needs: prepare-integration-tests
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Download built apicurio artifacts
        id: download-apicurio
        uses: actions/download-artifact@v3
        with:
          path: ~/.m2/repository/io/apicurio
          name: apicurio-artifacts.zip

      - name: Build KafkaSql variant
        run: make SKIP_TESTS=true BUILD_FLAGS='-DskipUiBuild=true -Dmaven.javadoc.skip=true --no-transfer-progress -Dmaven.wagon.httpconnectionManager.maxTotal=30 -Dmaven.wagon.http.retryHandler.count=5' build-kafkasql

      - name: Run Integration Tests - kafkasql
        run: ./mvnw verify -Pintegration-tests -Pci -Pkafkasql -Pkafkasqlit -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false
      - name: Run Integration Tests - kafkasql clustered
        run: ./mvnw verify -Pintegration-tests -Pclustered -Pkafkasql -Pkafkasqlit -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false
      - name: Run Integration Tests - kafkasql migration
        run: ./mvnw verify -Pintegration-tests -Pmigration -Pkafkasql -Pkafkasqlit -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false
      - name: Run Integration Tests - kafkasql auth
        run: ./mvnw verify -Pintegration-tests -Pauth -Pkafkasql -Pkafkasqlit -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false
      - name: Run Integration Tests - kafkasql dbupgrade
        run: ./mvnw verify -Pintegration-tests -Pdbupgrade -Pkafkasql -Pkafkasqlit -pl integration-tests/testsuite -DtrimStackTrace=false -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false

      - name: Run Legacy Tests - kafkasql
        env:
          TEST_APP_ENV_ENABLE_CCOMPAT_LEGACY_ID_MODE: "true"
        run: ./mvnw verify -Pintegration-tests -Pci -Pkafkasql -Pkafkasqlit -pl integration-tests/legacy-tests -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false

      - name: Collect logs
        if: failure()
        run: ./.github/scripts/collect_logs.sh
      - name: Upload tests logs artifacts
        if: failure()
        uses: actions/upload-artifact@v1.0.0
        with:
          name: tests-logs
          path: artifacts

  integration-tests-ui:
    name: Integration Tests UI
    runs-on: ubuntu-20.04
    needs: prepare-integration-tests
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Download built apicurio artifacts
        id: download-apicurio
        uses: actions/download-artifact@v3
        with:
          path: ~/.m2/repository/io/apicurio
          name: apicurio-artifacts.zip

      - name: Build In-memory variant
        run: make SKIP_TESTS=true BUILD_FLAGS='-Dmaven.javadoc.skip=true --no-transfer-progress -Dmaven.wagon.httpconnectionManager.maxTotal=30 -Dmaven.wagon.http.retryHandler.count=5' build-in-memory

      - name: Run UI tests
        run: ./mvnw verify -Pintegration-tests -Pui -Pinmemory -pl integration-tests/testsuite -Dmaven.javadoc.skip=true --no-transfer-progress -DtrimStackTrace=false

      - name: Collect logs
        if: failure()
        run: ./.github/scripts/collect_logs.sh
      - name: Upload tests logs artifacts
        if: failure()
        uses: actions/upload-artifact@v1.0.0
        with:
          name: tests-logs
          path: artifacts
