name: Release Workflow
on:
  pull_request:
    branches: [master]
    types: [closed]
    paths:
      - '.github/project.yaml'

jobs:
  release:
    runs-on: ubuntu-18.04
    if: github.event.pull_request.merged == true && github.repository_owner == 'Apicurio'
    steps:
      - name: Retrieve Project Metadata
        uses: radcortez/project-metadata-action@master
        id: metadata
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          metadata-file-path: '.github/project.yaml'
      - name: Verify Metadata
        run: |
          if [ -z "${{steps.metadata.outputs.release-version}}" ]
          then
            echo "Failed to load project metadata from project.yaml!"
            exit 1
          else
            echo "Releasing Apicurio Registry version ${{steps.metadata.outputs.release-version}}"
          fi
      - name: Set up Node.js v12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Set up JDK 1.8
        uses: AdoptOpenJDK/install-jdk@v1
        with:
            version: '8'
            architecture: x64
      - name: Set up settings.xml
        run: |
          pwd
          mkdir -p /home/runner/.m2
          chmod 755 /home/runner/.m2
          echo "<settings><servers><server><id>${{ secrets.OSSRH_ID }}</id><username>${{ secrets.OSSRH_USERNAME }}</username><password>${{ secrets.OSSRH_TOKEN }}</password></server></servers><profiles><profile><id>${{ secrets.OSSRH_ID }}</id><activation><activeByDefault>true</activeByDefault></activation><properties><gpg.executable>gpg</gpg.executable><gpg.passphrase>${{ secrets.GPG_PASSPHRASE}}</gpg.passphrase></properties></profile></profiles></settings>" > /home/runner/.m2/settings.xml
          cat /home/runner/.m2/settings.xml
      - name: Set up Gren
        run: npm install github-release-notes -g
      - name: Apicurio Registry Code Checkout
        run: |
          mkdir registry
          cd registry
          git init
          git config --global user.name "apicurio-ci"
          git config --global user.email "apicurio.ci@gmail.com"
          git remote add origin "https://apicurio-ci:${{ secrets.ACCESS_TOKEN }}@github.com/$GITHUB_REPOSITORY.git"
          git fetch
          git checkout master
          git branch --set-upstream-to=origin/master
          git pull
      - name: Apicurio Website Code Checkout
        run: |
          mkdir website
          cd website
          git init
          git config --global user.name "apicurio-ci"
          git config --global user.email "apicurio.ci@gmail.com"
          git remote add origin "https://apicurio-ci:${{ secrets.ACCESS_TOKEN }}@github.com/Apicurio/apicurio.github.io.git"
          git fetch
          git checkout master
          git branch --set-upstream-to=origin/master
          git pull
      - name: Apicurio Website Code Checkout
        run: |
          mkdir docs-playbook
          cd docs-playbook
          git init
          git config --global user.name "apicurio-ci"
          git config --global user.email "apicurio.ci@gmail.com"
          git remote add origin "https://apicurio-ci:${{ secrets.ACCESS_TOKEN }}@github.com/Apicurio/apicurio-docs-playbook.git"
          git fetch
          git checkout master
          git branch --set-upstream-to=origin/master
          git pull
      - name: Update Release Version ${{steps.metadata.outputs.release-version}}
        run: |
          cd registry
          mvn versions:set -DnewVersion=${{steps.metadata.outputs.release-version}} -DgenerateBackupPoms=false -DprocessAllModules=true
          sed -i  "s/version\:\s.*/version: \'${{steps.metadata.outputs.release-version}}\'/g" .antora/antora.yml
      - name: Build All Variants
        run: cd registry && mvn clean install -Pprod -Pjpa -Pinfinispan -Pkafka -Pstreams -Pasyncmem -DskipTests
      - name: Commit Release Version Change
        run: |
          cd registry
          git add .
          git commit -m "Automated update to Release Version:: ${{steps.metadata.outputs.release-version}}"
          git push
      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v1
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }} 
      - name: Create GitHub Release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{steps.metadata.outputs.release-version}}       
          release_name: ${{steps.metadata.outputs.release-version}}
      - name: Generate Release Notes
        run: cd registry && gren release --token=${{ secrets.GITHUB_TOKEN }} --override
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build The Tagged Docker Images
        run: |
          cd registry/distro/docker
          mvn package -Pprod -DskipTests -Ddocker
          mvn package -Pprod -Pjpa -DskipTests -Ddocker
          mvn package -Pprod -Pinfinispan -DskipTests -Ddocker
          mvn package -Pprod -Pkafka -DskipTests -Ddocker
          mvn package -Pprod -Pstreams -DskipTests -Ddocker
          mvn package -Pprod -Pasyncmem -DskipTests -Ddocker
      - name: Push The Tagged Docker Images
        run: |
          cd registry
          docker push apicurio/apicurio-registry-mem:latest
          docker push apicurio/apicurio-registry-mem:latest-release
          docker push apicurio/apicurio-registry-mem:${{steps.metadata.outputs.release-version}}
          docker push apicurio/apicurio-registry-jpa:latest
          docker push apicurio/apicurio-registry-jpa:latest-release
          docker push apicurio/apicurio-registry-jpa:${{steps.metadata.outputs.release-version}}
          docker push apicurio/apicurio-registry-infinispan:latest
          docker push apicurio/apicurio-registry-infinispan:latest-release
          docker push apicurio/apicurio-registry-infinispan:${{steps.metadata.outputs.release-version}}
          docker push apicurio/apicurio-registry-kafka:latest
          docker push apicurio/apicurio-registry-kafka:latest-release
          docker push apicurio/apicurio-registry-kafka:${{steps.metadata.outputs.release-version}}
          docker push apicurio/apicurio-registry-streams:latest
          docker push apicurio/apicurio-registry-streams:latest-release
          docker push apicurio/apicurio-registry-streams:${{steps.metadata.outputs.release-version}}
          docker push apicurio/apicurio-registry-asyncmem:latest
          docker push apicurio/apicurio-registry-asyncmem:latest-release
          docker push apicurio/apicurio-registry-asyncmem:${{steps.metadata.outputs.release-version}}
      - name: Maven Deploy
        run: |
          cd registry
          # Retry 3 times before the steps actually fails
          (echo "===== Maven Deploy Attempt: 1 ====" && mvn deploy --batch-mode -Pprod -Pjpa -Pinfinispan -Pkafka -Pstreams -Pasyncmem -DskipTests -Prelease --settings /home/runner/.m2/settings.xml -DskipTests) || \
          (echo "===== Maven Deploy Attempt: 2 ====" && mvn deploy --batch-mode -Pprod -Pjpa -Pinfinispan -Pkafka -Pstreams -Pasyncmem -DskipTests -Prelease --settings /home/runner/.m2/settings.xml -DskipTests) || \
          (echo "===== Maven Deploy Attempt: 3 ====" && mvn deploy --batch-mode -Pprod -Pjpa -Pinfinispan -Pkafka -Pstreams -Pasyncmem -DskipTests -Prelease --settings /home/runner/.m2/settings.xml -DskipTests) || \
          (echo "==== Maven Deploy Step Failed ====" && exit 1)
      - name: Update Snapshot Version ${{steps.metadata.outputs.snapshot-version}}
        run: |
          cd registry
          mvn versions:set -DnewVersion=${{steps.metadata.outputs.snapshot-version}} -DgenerateBackupPoms=false -DprocessAllModules=true
          sed -i  "s/version\:\s.*/version: \'master\'/g" .antora/antora.yml
      - name: Commit Snapshot Version ${{steps.metadata.outputs.snapshot-version}}
        run: |
          cd registry
          git add .
          git commit -m"Automated update to next Snapshot Version: ${{steps.metadata.outputs.snapshot-version}}"
          git push
      - name: Generate Project Documentation for Website
        run: |
          echo "********** Building Registry Documentation using Antora **********"
          cd docs-playbook
          docker pull apicurio/apicurio-docs-builder:latest
          docker run -v $(pwd):/apicurio-docs-playbook -it apicurio/apicurio-docs-builder:latest
          rm -rf ../website/registry/docs/*
          cp -rf target/dist/* ../website/registry/docs/.
      - name: Updating Project Website for Release ${{steps.metadata.outputs.release-version}}
        run: |
          cd website
          echo "********** Downloading Latest Release JSON File **********"
          cd _data/registry
          rm latestRelease.json
          touch latestRelease.json && curl https://api.github.com/repos/apicurio/apicurio-registry/releases/latest > latestRelease.json
          
          echo "********** Copying Latest Release JSON File **********"
          PUBLISHED_AT=$(cat latestRelease.json | jq '.published_at' | sed 's/"//g')
          cp latestRelease.json releases/$PUBLISHED_AT.json
      - name: Commit Project Website Changes
        run: |
          cd website
          git add .
          git commit -m "Automated Update For Apicurio Registry Release Version: ${{steps.metadata.outputs.release-version}}"
          git push
      # - name: Tweet About The Release
      #   uses: ethomson/send-tweet-action@v1
      #   with:
      #     status: "${{steps.metadata.outputs.project-name}} version ${{steps.metadata.outputs.release-version}} is out!  Check out the release notes here: ${{ steps.create_release.outputs.html_url }}"
      #     consumer-key: ${{ secrets.TWITTER_CONSUMER_API_KEY }}
      #     consumer-secret: ${{ secrets.TWITTER_CONSUMER_API_SECRET }}
      #     access-token: ${{ secrets.TWITTER_ACCESS_TOKEN }}
      #     access-token-secret: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}

  verify-release:
    runs-on: ubuntu-18.04
    needs: ["release"]   # The Job gets triggered only after the "release" job has successfully completed. The job doesn't run in case the "release" job fails
    if: github.event.pull_request.merged == true && github.repository_owner == 'Apicurio'
    steps:
      - name: Retrieve Project Metadata
        uses: radcortez/project-metadata-action@master
        id: metadata
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          metadata-file-path: '.github/project.yaml'
      - name: Set up JDK 1.8
        uses: AdoptOpenJDK/install-jdk@v1
        with:
            version: '8'
            architecture: x64
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Verify Docker Release For mem
        run: ./.github/scripts/verify-docker-release.sh apicurio/apicurio-registry-mem:${{steps.metadata.outputs.release-version}} apicurio/apicurio-registry-mem:latest apicurio/apicurio-registry-mem:latest-release 
      - name: Verify Docker Release For asyncmem
        run: ./.github/scripts/verify-docker-release.sh apicurio/apicurio-registry-asyncmem:${{steps.metadata.outputs.release-version}} apicurio/apicurio-registry-asyncmem:latest apicurio/apicurio-registry-asyncmem:latest-release 
      - name: Verify Docker Release For kafka
        run: ./.github/scripts/verify-docker-release.sh apicurio/apicurio-registry-kafka:${{steps.metadata.outputs.release-version}} apicurio/apicurio-registry-kafka:latest apicurio/apicurio-registry-kafka:latest-release 
      - name: Verify Docker Release For streams
        run: ./.github/scripts/verify-docker-release.sh apicurio/apicurio-registry-streams:${{steps.metadata.outputs.release-version}} apicurio/apicurio-registry-streams:latest apicurio/apicurio-registry-streams:latest-release 
      - name: Verify Docker Release For jpa
        run: ./.github/scripts/verify-docker-release.sh apicurio/apicurio-registry-jpa:${{steps.metadata.outputs.release-version}} apicurio/apicurio-registry-jpa:latest apicurio/apicurio-registry-jpa:latest-release 
      - name: Verify Docker Release For infinispan
        run: ./.github/scripts/verify-docker-release.sh apicurio/apicurio-registry-infinispan:${{steps.metadata.outputs.release-version}} apicurio/apicurio-registry-infinispan:latest apicurio/apicurio-registry-infinispan:latest-release 
      - name: Verify Maven Release
        run: |
          cd .github/test-mvn-deploy
          mvn clean install "-Dversion.apicurio=${{steps.metadata.outputs.release-version}}" # Passing the latest version at run-time
