name: Validate Docs & Playbook
on:
  workflow_call: { }
  pull_request:
    branches: [ main ]
    paths:
      - 'docs/**'
      - 'docs-playbook/**'

jobs:
  validate:
    name: Validate Docs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Generate Documentation
        run: |
          cd docs-playbook
          ./_build-all.sh
