name: Verify Build Workflow
on:
  push:
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README*'
      - 'docs/**'
    branches: [master, '[1-9].[0-9].x']
  pull_request:
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README*'
      - 'docs/**'
    branches: [master]

jobs:
  build-verify:
    name: Verify Build
    runs-on: ubuntu-18.04
    if: github.repository_owner == 'Apicurio'
    steps:
      - name: Checkout Code with Ref '${{ github.ref }}' 
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '11'
          architecture: x64

      - name: Cache Dependencies
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build All Variants
        run: mvn clean install -Pprod -Psql -Pinfinispan -Pstreams -Pasyncmem -Pkafkasql

      - name: Login to DockerHub Registry
        if: github.event_name == 'push'
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build The Snapshot Docker Images
        if: github.event_name == 'push'
        run: ./.github/scripts/build-snapshot-images-for-docker.sh ${{ github.ref }}

      - name: List All The Tagged Docker Images
        run: docker images

      - name: Push The Snapshot Docker Images To Dockerhub
        if: github.event_name == 'push'
        run: ./.github/scripts/push-snapshot-images-to-docker.sh ${{ github.ref }}

      - name: Login to Quay.io Registry
        if: github.event_name == 'push'
        run: docker login -u "${{ secrets.QUAY_USERNAME }}" -p "${{ secrets.QUAY_PASSWORD }}" quay.io

      - name: Tag Snapshot Docker Images for Quay.io
        if: github.event_name == 'push'
        run: ./.github/scripts/tag-snapshot-images-for-quay.sh ${{ github.ref }}
          
      - name: List All The Tagged Docker Images
        if: github.event_name == 'push'
        run: docker images

      - name: Push The Sanpshot Docker Images to Quay.io
        if: github.event_name == 'push'
        run: ./.github/scripts/push-snapshot-images-to-quay.sh ${{ github.ref }}   
          

  kubernetes-tests:
    name: Kubernetes Tests
    runs-on: ubuntu-18.04
    needs: ["build-verify"]
    if: github.repository_owner == 'Apicurio' && github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '11'
          architecture: x64

      - name: Cache Dependencies
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build Converters Distro (used in testsuite)
        run: mvn install -pl distro/connect-converter -am -DskipTests -Dmaven.javadoc.skip=true --no-transfer-progress

      - name: Kubernetes Tests
        run: ./.github/scripts/test_apicurio_kubernetes.sh

      - name: Collect logs
        if: failure()
        run: ./.github/scripts/collect_kubernetes_logs.sh

      - name: Upload tests logs artifacts
        if: failure()
        uses: actions/upload-artifact@v1.0.0
        with:
          name: tests-logs
          path: artifacts
